<div class="category_product_wrapper">
  <h3>Edit <%= @user_product.product.name %></h3>

  <%= render 'user_products/form' %>
</div>

<div class="back_button">
  <%= link_to "Back", category_user_products_path(@user_product.product.category), class: "btn btn-light" %>
</div>
