<div class="category_product_wrapper">
  <h3>Add <i><%= @product.name %></i> to your <i><%= @product.category.name %></i> colection</h3>

  <%= render 'user_products/form' %>
</div>

  <%= link_to "Back", category_products_path(@product.category.id), type:"button", class:"btn btn-light" %>
