<div class="category_product_wrapper">
  <h3><%= @product.name %></h3>
  <h5><%= @product.category.name %></h5>

  <%= render 'user_products/form' %>
</div>

  <%= link_to "Back", category_products_path(@product.category.id), type:"button", class:"btn btn-light" %>
