<h1> Hello <%= @user.name %> </h1>
<% @categories.each do |category| %>
<%= link_to category.name, user_category_user_products_path(@user, category) %>
<% end %>


<%= link_to "Logout", logout_path, method: "delete" %>
