/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .field_with_errors input, .custom_error.form-group input[type="text"] {
   border: 1px solid red;
 }

 .alert {
  background-color: #d96459;
  text-align: center;
}

 .header {
   text-align: center;
   margin-top: 200px;
 }

 .homepage_links {
   text-align: center;
   margin-top: 20px;
 }

 body.application-body {
   background-color: #f6f2ef;
 }

 .footer-copyright {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #FFFFFF;
}

ul {
    list-style-type: none;
}

.login_wrapper .container {
  margin-top: 150px;
  width: 480px;

}

.signup_wrapper .container {
  margin-top: 100px;
  width: 480px;
}

.logo_image {
  display: block;
  width: 350px;
  height: auto;
}

.navbar.navbar-light.bg-light {
  margin: 0;
}

.container {
  margin_top: 10px;
}

.categories_buttons {
  margin-left: 20px;
  margin-right: 20px;
}

.d-flex.justify-content-center.flex-wrap {
  margin-top: 30px;
}

h1 {
  /* font-family: 'Indie Flower', cursive; */
  /* font-family: 'Homemade Apple', cursive; */
}

.product_show_wrapper {
  margin-top: 20px;
}

.product_show_wrapper .category_name {
  margin-bottom: 20px;
}

.header_wrapper {
  margin-top: 15px;
}

.user_products_wrapper {
  margin-top: 20px;
}

.button_class {
  margin_top: 20px;
}

.back_button {
    margin_top: 20px;
}

.table .table-hover {
  margin-bottom: 10px;
}

.category_product_wrapper {
  margin-top: 10px;
}
