<div class="user_products_wrapper">
  <ul>
    <% @products.each do |p| %>
    <li><%= link_to p.name, product_path(p) %>  <%= link_to "Add", new_product_user_product_path(p), type:"button", class:"btn btn-light btn-sm"%></li>
    <% end %>
  </ul>
</div>

<div class="button_class">
  <%= link_to "Add a new product if it doesn't exist", new_category_product_path(@category), type:"button", class:"btn btn-dark"%>
</div>
<%= link_to "Back", user_category_user_products_path(current_user, @category), type:"button", class:"btn btn-light" %>
